apiVersion: v1
kind: Service
metadata:
  name: restart-practice-service
spec:
  selector:
    app: restart-practice
  ports:
    - protocol: TCP
      port: 80     # Exposed service port
      targetPort: 3000  # Container's port
  type: ClusterIP  # Use NodePort if you don't have a cloud provider
